@import url('../fonts/inter.css');

body{font-family:Inter,sans-serif;font-size:16px;font-weight:400!important;color:#000000;background-image: url(../images/bg-body.webp);background-repeat: no-repeat;background-size: cover;margin:auto; }
*{font-family:Inter,sans-serif;font-weight:400}
@media(max-width:600px){
body{background-image:url(../images/bg-body-mob.webp);background-size:cover}
}
.font-500{font-weight:500!important}
.form-control{border:1px solid #656565}
p{font-weight:300}
p span{font-weight:600;color:#1f4388}
.treatment_all_heading_page{font-size:28px;color:#000;font-weight:500;margin-bottom:5px}
.treatment_all_heading_page span{color:#1f4388;font-weight:700}
.treatment_all_heading_page_head_treat{font-size:21px}
@media(max-width:600px){
.treatment_all_heading_page{font-size:20px}
.treatment_all_heading_page_head_treat{font-size:16px;text-align:center}
}
header{background:0 0;min-height:60px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.thank-you-msg-heading{font-size:36px;font-weight:500;color:#1f4388}
.thank-you-msg-heading span{font-weight:800}
.main_head_h3{font-size:28px}
.heding_sub_h2_cls{font-size:32px}
@media(max-width:600px){
.thank-you-msg-heading{font-size:22px;font-weight:500;color:#1f4388}
.heding_sub_h2_cls{font-size:24px}
.main_head_h3{font-size:21px}
}
/*=====================================================================*/
/* Book an Appointment Start CSS*/
/*=====================================================================*/
.treatment_all_comm_div_new_book_an_appoinment .form_bg_new_for_rp{padding:20px;background:linear-gradient(0deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);;border:none;border-radius:0px 20px 20px 0;}
.form_section_div_book_an_appoinment h3 strong{font-size:34px}
.form_section_div_book_an_appoinment h3 strong{font-weight:700;color:#1f83c5}
.banner-form-img{width:100%; border-radius: 20px 0 0 20px;}
@media(max-width:600px){
.treatment_all_comm_div_new_book_an_appoinment .form_bg_new_for_rp{padding:20px 15px 15px;width:92%;border-radius:0 0 20px 20px;margin:auto}
.form_section_div_book_an_appoinment h3{font-size:21px;margin-bottom:5px;line-height:normal}
.form_section_div_book_an_appoinment h3 strong{font-weight:700;color:#1f83c5;font-size:21px;line-height:38px}
.banner-form-img{width:100%; border-radius: 20px 20px 0 0;}
}
/*=====================================================================*/
/* Book an APpoinment Form Form css*/
/*=====================================================================*/
.form_section_div_book_an_appoinment #evaluvationform{text-align:center;position:relative;margin-top:0}
.form_section_div_book_an_appoinment #evaluvationform fieldset{border:0 none;border-radius:.5rem;box-sizing:border-box;width:100%;margin:0;position:relative}
.form_section_div_book_an_appoinment .form-card{text-align:left}
.form_section_div_book_an_appoinment #evaluvationform fieldset:not(:first-of-type){display:none}
.form_section_div_book_an_appoinment #evaluvationform .action-button{font-size:16px;width:100%;margin-bottom:0;height:calc(1.5em + .75rem + 2px);line-height:1.6;color:#1f4388;font-weight:700;border:none;background:linear-gradient(90deg,#a1fcb3 0,#82e3fb 100%);border-radius:50px}
.form_section_div_book_an_appoinment #evaluvationform .action-button-previous{width:100%;margin-bottom:0;height:calc(1.5em + .75rem + 2px);line-height:1.6;color:#fff;border-radius:6px;font-weight:500;border:none;background-color:#1f83c5;text-transform:uppercase;border-radius:50px}
.form_section_div_book_an_appoinment .card{z-index:0;border:none;position:relative}
.form_section_div_book_an_appoinment .fs-title{font-size:25px;color:#673ab7;margin-bottom:15px;font-weight:400;text-align:left}
.form_section_div_book_an_appoinment .steps{font-size:25px;color:gray;margin-bottom:10px;font-weight:400;text-align:right}
.form_section_div_book_an_appoinment .fieldlabels{color:gray;text-align:left}
.form_section_div_book_an_appoinment #evaluvationform #progressbar{margin-bottom:0;overflow:hidden;color:#d3d3d3;padding-inline-start:00px}
.form_section_div_book_an_appoinment #evaluvationform #progressbar .active{color:#154778}
.form_section_div_book_an_appoinment #evaluvationform #progressbar li{list-style-type:none;font-size:15px;width:50%;float:left;position:relative;font-weight:400}
.form_section_div_book_an_appoinment #evaluvationform #progressbar #account:before{font-family:FontAwesome;content:"\f13e"}
.form_section_div_book_an_appoinment #evaluvationform #progressbar #personal:before{font-family:FontAwesome;content:"\f007"}
.form_section_div_book_an_appoinment #evaluvationform #progressbar #payment:before{font-family:FontAwesome;content:"\f030"}
.form_section_div_book_an_appoinment #evaluvationform #progressbar #confirm:before{font-family:FontAwesome;content:"\f00c"}
.form_section_div_book_an_appoinment #evaluvationform #progressbar li:before{width:90%;height:2px;line-height:45px;display:block;font-size:20px;color:#fff;background:#d3d3d3;border-radius:0;margin:0 auto 10px auto;padding:2px}
.form_section_div_book_an_appoinment #evaluvationform #progressbar li:after{content:'';width:100%;height:2px;background:#d3d3d3;position:absolute;left:0;top:25px;z-index:999}
.form_section_div_book_an_appoinment #evaluvationform #progressbar li.active:after,.form_section_div_book_an_appoinment #evaluvationform #progressbar li.active:before{background:#154778}
.form_section_div_book_an_appoinment #evaluvationform .progress{height:20px}
.form_section_div_book_an_appoinment #evaluvationform .progress-bar{background-color:#154778}
.form_section_div_book_an_appoinment .fit-image{width:100%;object-fit:cover}
.action-button-two{font-size:16px;width:100%;margin-bottom:0;height:calc(1.5em + .75rem + 2px);line-height:1.6;color:#fff;font-weight:700;border:none;background:#1f4388;border-radius:50px}
.agree-condition{font-weight:400!important}
@media(max-width:600px){
.form_section_div_book_an_appoinment #evaluvationform .action-button{width:100%;font-size:14px}
.action-button-two{font-size:14px}
}
@media(max-width:380px){
.form_section_div_book_an_appoinment #evaluvationform .action-button-two{font-size:12px}
}
.treatment_all_comm_div_new_book_an_appoinment.form_section_div{padding:20px 0;background-color:transparent;border-top:20px solid #0c4475;border-bottom:20px solid #0c4475}
.treatment_all_comm_div_new_book_an_appoinment .form_custom_bg_testmonilas{background:0 0;padding:0}
.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom label{position:absolute;top:37%;left:28px;transform:translateY(-50%);font-size:16px!important;color:#757575;pointer-events:none;transition:all .15s ease-out}
.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom input,.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom select{display:block;width:100%;height:42px;padding:.375rem .75rem;font-size:16px!important;font-weight:400;line-height:1.5;color:#000;background-color:transparent;background-clip:padding-box;border:1px solid #a2a2a2;border-radius:6px;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}
.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom input:focus,.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom select:focus{border:1px solid #1f4388;outline:0;background-color:transparent}
.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom input.has-value+label,.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom input:focus+label,.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom select.has-value+label,.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom select:focus+label{top:-1px;font-size:11px!important;font-weight:600;color:#1f4388;background-color:#fff;padding:5px 6px 0 6px}
.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom input:focus::-webkit-input-placeholder,.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom select:focus::-webkit-input-placeholder{color:transparent}
.treatment_all_comm_div_new_book_an_appoinment .check_box_lable input{width:16px;height:auto;display:inline-flex;margin-left:-18px}
.treatment_all_comm_div_new_book_an_appoinment .check_box_lable{margin-left:18px}
.treatment_all_comm_div_new_book_an_appoinment .check_box_lable label{padding-top:0;font-size:14px!important;color:#212121!important;margin-bottom:15px;text-align:left;font-weight:600}
.treatment_all_comm_div_new_book_an_appoinment .form_custom_heading_testmonilas{margin-bottom:0;font-size:32px!important;text-align:left;font-weight:400;color:#212121;line-height:normal}
.treatment_all_comm_div_new_book_an_appoinment .form_custom_heading_testmonilas span{font-weight:600;color:#187fc3}
.treatment_all_comm_div_new_book_an_appoinment .btn_custom_testmonilas{width:100%;margin-bottom:0;height:calc(1.5em + .75rem + 2px);line-height:1.6;color:#fff;border-radius:6px;font-weight:500;border:none;background-color:#1f83c5!important;text-transform:uppercase;border-radius:50px}
@media(max-width:600px){
.treatment_all_comm_div_new_book_an_appoinment.form_section_div{margin-top:20px;background-color:transparent}
.treatment_all_comm_div_new_book_an_appoinment .form_section_div .container{border-radius:20px}
.treatment_all_comm_div_new_book_an_appoinment .form_custom_bg_testmonilas{width:100%;background:0 0;padding:0;border-radius:20px}
.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom label{position:absolute;top:37%;left:28px;transform:translateY(-50%);font-size:16px!important;color:#757575;pointer-events:none;transition:all .15s ease-out}
.treatment_all_comm_div_new_book_an_appoinment .check_box_lable label{padding-top:0;font-size:10px!important;color:#212121!important;margin-bottom:15px}
.treatment_all_comm_div_new_book_an_appoinment .btn_custom_testmonilas{font-size:16px!important}
.treatment_all_comm_div_new_book_an_appoinment .form_custom_heading_testmonilas{margin-bottom:12px;font-size:24px!important;text-align:center;font-weight:400;color:#212121;line-height:normal}
.treatment_all_comm_div_new_book_an_appoinment .form_custom_heading_testmonilas span{font-weight:600;color:#187fc3}
.treatment_all_comm_div_new_book_an_appoinment .btn_custom_testmonilas{font-size:16px!important}
}
.btn-form{width:auto;margin:auto;padding:5px 25px;height:calc(1.5em + .75rem + 2px);line-height:1.6;color:#1f4388;font-weight:700;border:none;background:linear-gradient(90deg,#a1fcb3 0,#82e3fb 100%);border-radius:50px}
.form-group .resend{color:#154778;font-size:12px!important;font-weight:400!important;cursor:pointer}
.open-button{background-color:#1a75ac;font-size:21px;color:#fff;padding:15px 20px;border:none;cursor:pointer;position:fixed;bottom:0;right:auto;left:0;width:100%;font-weight:600;text-decoration:none}
.open-button a{text-decoration:none}
.open-button:hover{color:#fff;text-decoration:none}
.reference-group{width:95%;padding:20px 30px 10px;margin:20px auto;background:linear-gradient(0deg,rgba(255,255,255,.9) 0,rgba(255,255,255,.9) 100%);border-radius:20px}
@media(max-width:600px){
.reference-group{margin-top:10px;padding:20px 10px 10px 10px}
}
/*==========================================*/
/* Icon section css*/
/*==========================================*/
.treatment_all_comm_div.icon_without_bg_section{margin-top:40px}
.treatment_all_comm_div.icon_without_bg_section .icon_box_why{padding:12px;margin-right:12px;background: linear-gradient(210deg, #61c0ed 1%, #3b68b4 70%);border-radius:50px;text-align:center}
.treatment_all_comm_div.icon_without_bg_section p{line-height:normal;font-size:18px!important;font-weight:300;line-height:normal;margin-bottom:0}
.treatment_all_comm_div.icon_without_bg_section .content_box_why_pcos img{width: 38px}
.treatment_all_comm_div.icon_without_bg_section .content_box_why_pcos p{width:85%;line-height:normal;font-size:18px!important;font-weight:300;line-height:normal;margin-bottom:0}
.treatment_all_comm_div.icon_without_bg_section p span{font-size:24px!important;font-weight:600}
.treatment_all_comm_div.icon_without_bg_section .content_box_why_pcos{display:inline-flex;align-items:center;}
.treatment_all_comm_div.icon_without_bg_section h5{font-size:24px!important;font-weight:600}
@media (max-width:1680px){
.treatment_all_comm_div.icon_without_bg_section .content_box_why_pcos p,.treatment_all_comm_div.icon_without_bg_section p{font-size:16px!important}
}
@media (max-width:600px){
.treatment_all_comm_div.icon_without_bg_section{margin-top:30px}
.treatment_all_comm_div.icon_without_bg_section .container{padding:0 15px}
.treatment_all_comm_div.icon_without_bg_section .content_box_why_pcos p{width:85%}
.treatment_all_comm_div.icon_without_bg_section .content_box_why_pcos img{width: 30px}
.treatment_all_comm_div.icon_without_bg_section p span{font-size:18px!important;font-weight:600}
}
/*==========================================*/
/* List section css*/
/*==========================================*/
.tih_list_pointer_item_css{padding-inline-start:0px}
.tih_list_pointer_item_css li{font-weight:300;font-size:16px;margin-bottom:5px;list-style:none}
.tih_list_pointer_item_css li strong{font-weight:600;color:#1f4388}
.inputSubmit{height:calc(1.5em + .75rem + 2px);font-weight:700!important;font-size:1em;line-height:1em;background:#0c4679;color:#fff!important;border:1px solid #0c4679!important;border-radius:6px!important;transition:.5s;outline:0!important}
.inputRemove{height:calc(1.5em + .75rem + 2px);font-weight:700!important;font-size:1em;line-height:1em;background:0 0;color:#0c4679!important;border:1px solid #0c4679!important;border-radius:6px!important;transition:.5s;outline:0!important}
.inputSubmit:hover{background:#0c4679}
.inputRemove:hover{background:0 0}
/*=====================================================================*/
/* Book An Appoinment Blue Icon box section css*/
/*=====================================================================*/
.treatment_all_comm_div.blue_icon_box_section_less_content .icon_box_why{width:56px;height:56px;padding:10px;margin-right:12px;background-color:#0c4679;border-radius:6px}
.treatment_all_comm_div.blue_icon_box_section_less_content p{width:85%;line-height:normal;font-size:18px!important;font-weight:300;line-height:normal;margin-bottom:0}
.treatment_all_comm_div.blue_icon_box_section_less_content p span{font-size:24px!important;font-weight:600}
.treatment_all_comm_div.blue_icon_box_section_less_content .content_box_why_pcos{display:flex;align-items:center}
@media (max-width:1680px){
.treatment_all_comm_div.blue_icon_box_sectio_less_content p{font-size:16px!important}
}
@media (max-width:600px){
.treatment_all_comm_div.blue_icon_box_section_less_content .container{padding:30px 15px}
.treatment_all_comm_div.blue_icon_box_section_less_content p{width:85%}
.treatment_all_comm_div.blue_icon_box_section_less_content p span{font-size:18px!important;font-weight:600}
}